<%-include("../partials/header") %>
<div class="container">
        <h3 style="text-align: center;">Add new comment to <%=comment.name %> </h3>
    <form action="/allproducts/<%= comment._id%>/comments" method="POST">
        <div style="width: 50%; margin: 25px auto;">
            
            <div>
                <label for="comment-post">Comment</label>
                <input class="form-control" type="text" name="comment[post]" placeholder="comment here">
            </div>
                <button>Submit</button>
        </div>
   
    </form>
</div>

<%-include("../partials/footer") %>