<div class="container" style="text-align: center;">
    <p>
        
    </p>
    <strong>important notice:</strong>
    To aid the quick sales of your gadget and properties, kindly contact <a href="/users/636ccad9835fb038ee3cd040">Admin1</a>
    <p>copyright protected</p>
    </body>
    </html>
</div>
