<div class="container" style="text-align: center;">
    <p>
        
    </p>
    <strong>important notice:</strong>
    To aid the quick sales of your gadget and properties, kindly contact <a href="/users/63a0058d0406b895c8def9e0">Admin1</a>
    <div>
        <a href="/termandconditions">Term and conditions applies</a>
    </div>
    <p>koyegadgets since 2018</p>
    </body>
    </html>
</div>
