<%-include("./partials/header")%>
<div class="container">
    <h1>About us</h1>
    <p>
        We are a leading company when it comes to linking buyers and sellers of commodities together, Our reach covers
        every location within Nigeria, we have worked tiredlessly inorder to make buyers and sellers of commodities to
        come to contact without stress<br>
        producers of commodities are also welcome in this platform: either you specializes in the production of Agricultural
        related commodities, industrial related commodities or even health care related commodities<br>
        Our reach also extends to providing services to prospective buyers that is looking for certain commodities at a 
        particular price either the product is found on our database or not, we have a way of reaching out to commodity 
        sellers<br>
        and inorder to fast track you sales or your order at a particular known price, kindly contact one of our admins either
        via phone calls or email address<br>
        each user of this platform have the ability to follow one and other based on their choice; And once you start 
        following a particular user, then you automatically start receiving series of notifications concerning the user that you just
        followed<br>
        just like you have the ability to follow any user of your choice, you can also unfollow any user of your choice once you
        start loosing interest in his /her contents<br>
        in addition; we buy gadgets, properties, and other commodities from any interested sellers with the sole aim to 
        either resell or self utilization


    </p>
</div>


<%-include("./partials/footer")%>