<%-include("./partials/header")%>
<div class="container">
        <h1>
            contact us page
        </h1> 
        <h1>
            Office address
        </h1>
        <p>
            Ajagboju plot4, Desmag international school, off General-gas, Akobo, Ibadan
        </p>
        <p>
            for the sales of domestic gadget: used, new or imported, contact <a href="/users/63a0058d0406b895c8def9e0">Admin1</a>
        </p> 
        <p>
            for the sales of automobiles: used, new or imported, contact <a href="/users/63b6e82625633e136930a342">Admin2</a>
        </p>

        <p>
            for the sales of properties: used, new or renovated, contact <a href="/users/63b736bd25633e136930a384">Zeal</a>
        </p>

        Our hotlines are; 08071254582, 08038278076 or simpy mail us at koyegarden@gmail.com or koyegarden@outlook.com
</div>

<%-include("./partials/footer")%>
