<%-include("./partials/header")%>
<div class="container">
        <h1>
            contact us page
        </h1> 
        <p>
            for the sales of domestic gadget: used, new or imported, contact <a href="/users/636ccad9835fb038ee3cd040">Admin1</a>
        </p> 
        <p>
            for the sales of automobiles: used, new or imported, contact <a href="">Admin2</a>
        </p>

        <p>
            for the sales of properties: used, new or renovated, contact <a href="">Admin3</a>
        </p>

        Our hotlines are; 08071254582, 08038278076 or simpy mail us at admin@allproduce.com
</div>

<%-include("./partials/footer")%>
