<%-include("./partials/header") %>
<div class="emilokan">
    
        <div style="text-align: center;" class="container">
                <h1>Login page</h1>
            <div class="container" style="width: 50%; margin: 25px auto">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Submit</button>
                        <button><a class="btn btn-default" href="/forgot">Forgot password</a></button>
                    </div>
                    
                    
                </form>
            </div>
        </div>
       
        <%-include("./partials/footer") %>
    </div>
</div>

