<%-include("./partials/header") %>
<h3 style="text-align: center;">Add new gadget</h3>
<form action="/allproducts" method="POST" enctype="multipart/form-data">
    
    <div style="width: 30%; margin: 25px auto">
        <div class="form-group">
            <label for="exampleInputName"> Product name </label>
                <input class="form-control" type="text" name="product[name]" placeholder="small letters only">
            
        </div>
            
        <div class="form-group">
            <label for="image"> Image </label>
            <input class="form-control" type="file" name="product[image]" placeholder="image" accept="image/*">
        </div>
            
        <div class="form-group">
            <label for="description"> Brief description about product </label>
            <textarea class="form-control" type="text" name="product[description]" placeholder="description" rows="3"></textarea>
            
        </div>

        <div class="form-group">
            <label for="price"> Price </label>
            <input class="form-control" type="text" name="product[price]" placeholder="naira">
            
        </div>
        <button>Submit</button>
    </div>
 
</form>
<%-include("./partials/footer") %>