<%-include("./partials/header") %>
<div class="container" style="text-align: center;">
        <h1>Sign up here</h1>
    <form action="/register" method="POST">
        <div style="width: 50%; margin: 25px auto">
            <div class="form-group">
                <p><input class="form-control" type="text" name="fullname" placeholder="fullname"></p>
            </div> 
            <div>
                <p><input class="form-control" type="text" name="username" placeholder="username"></p>
            </div>   
            <div>
                <p><input class="form-control" type="email" name="email" placeholder="email"></p>
            </div>
            <div>
                <p><input class="form-control" type="number" name="telephone" placeholder="phonenumber"></p>
            </div>
            <div>
                <p><input class="form-control" type="password" name="password" placeholder="password"></p>
            </div> 
            <div>
                <p><input class="form-control" type="text" name="admincode" placeholder="leave unfilled"></p>
            </div>
            <div>
                <p><textarea class="form-control" name="description" rows="5" placeholder="short description"></textarea></p>
            </div>
            
            <button>Submit</button> 
        </div>
        
    </form>
</div>

<%-include("./partials/footer") %>