<%-include("./partials/header") %>

        <h1 style="text-align: center;">Sign up here</h1>
    <form action="/register" method="POST">
        <div style="width: 100%; margin: 25px auto">
            <div class="form-group">
                <label>full name</label>
                <p><input class="form-control" type="text" name="fullname" placeholder="fullname"></p>
            </div> 
            <div>
                <label>name</label>
                <p><input class="form-control" type="text" name="username" placeholder="username"></p>
            </div>   
            <div>
                <label>email</label>
                <p><input class="form-control" type="email" name="email" placeholder="email"></p>
            </div>
            <div>
                <label>phone no</label>
                <p><input class="form-control" type="number" name="telephone" placeholder="phonenumber"></p>
            </div>
            <div>
                <label>password</label>
                <p><input class="form-control" type="password" name="password" placeholder="password"></p>
            </div> 
            <div>
                <label>admin code</label>
                <p><input class="form-control" type="text" name="admincode" placeholder="leave unfilled"></p>
            </div>
            <div>
                <label>description</label>
                <p><textarea class="form-control" name="description" rows="5" placeholder="business description"></textarea></p>
            </div>
            
            <button>Submit</button> 
        </div>
        
    </form>

<%-include("./partials/footer") %>