<%-include("./partials/header") %>
<div class="container">
    <h1>Terms and conditions</h1>
    <p>
        Our prospective customers should be aware that we don't accept the offer to market goods or services that graded
        below a hundred thousand naira or it's equivalent in foreign currency, but in a situation whereby our customer 
        desire the need to such goods or services, then we strongly advice them to create a profile with us (at our website)
        inorder for them to be able to market such goods/services on their own and with the aid of our platform.
    </p>
    <p>
        It is also important for our customers to be aware that we charges 10% on every goods that is being market by any of 
        our admins while our expected remuneration period is the maximum of 3 weeks after the date of entry.
        for further inquiry about us, kindly contact any of our admins either via; what's app, electronic mail or 
        telephone call
    </p>
    
</div>


<%-include("./partials/footer") %>