<%-include("../partials/header") %>
<form action="/reset/<%=token%>" method="POST">
<legend>Reset password</legend>
<div class="form-group">
    <label for="password">New password</label>
    <input type="password" name="password" placeholder="new password" autofocus="autofocus" class="form-control">
</div>
<div class="form-group">
    <label for="password">confirm password</label>
    <input type="password" name="confirm" placeholder="confirm password" autofocus="autofocus" class="form-control">
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Update password</button>
</div>
</form>


<%-include("../partials/footer") %>